<div class="container d-block p-t-75" xmlns:th="http://www.thymeleaf.org">
  <h3 th:if="${hasError}" th:text="${error}"></h3>
</div>

<!-- Product -->
<div class="bg0 m-t-40 p-b-140" xmlns:th="http://www.thymeleaf.org">
  <div class="container">
    <div class="flex-w flex-sb-m p-b-52">
      <div class="flex-w flex-l-m filter-tope-group m-tb-10">
        <button id="btn2"></button>
        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-25 m-tb-5 how-active1">
          <a href="/products">
          All Products
          </a>
        </button>

        <th:block th:each="category : ${categories}">
          <button>
            <a th:href="@{/products(categoryId=${category.getId()})}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-25 m-tb-5">
                <th:block th:text="${category.getName()}"/>
            </a>
          </button>
        </th:block>
      </div>


        <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
          <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
          <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
          Search
        </div>
      </div>

      <!-- Search product -->
      <div class="dis-none panel-search w-full p-t-10 p-b-15">
        <div class="bor8 dis-flex p-l-15">
          <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
            <i class="zmdi zmdi-search"></i>
          </button>
          <input class="mtext-107 cl2 size-114 plh2 p-r-15" id="myInput" type="text" name="search-product" placeholder="Search">
        </div>
      </div>


    <div class="isotope-grid" id="productsDiv">
      <th:block th:if="${productsByCategory} != null">
          <th:block th:each="product1 : ${productsByCategory}">
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item" id="prd" th:classappend="${product1.getCategory().getName()}">
              <div class="block2">
                <div class="block2-pic hov-img0">
                  <img th:src="${product1.getImageBase64()}" class="imgs" alt="PRODUCT-IMG">
                </div>
                <div class="block2-txt flex-w flex-t p-t-14">
                  <div class="block2-txt-child1 flex-col-l ">
                    <a th:href="@{'products/product-details/{id}' (id=${product1.getId()})}"
                       class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                      <th:block th:text="${product1.getName()}"/>
                    </a>
                    <span class="stext-105 cl3 m-r-1"><th:block th:text="${product1.getPrice()}"/> MKD</span>
                  </div>
                </div>
              </div>
            </div>
          </th:block>
      </th:block>


      <th:block th:if="${productsByCategory} == null">
        <th:block th:each="product : ${products}">
          <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item" id="prd" th:classappend="${product.getCategory().getName()}">
            <div class="block2">
              <div class="block2-pic hov-img0">
                <img th:src="${product.getImageBase64()}"  id="imgs" alt="PRODUCT-IMG">
              </div>

              <div class="block2-txt flex-w flex-t p-t-14">
                <div class="block2-txt-child1 flex-col-l ">
                  <a th:href="@{'products/product-details/{id}' (id=${product.getId()})}"
                     class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                    <th:block th:text="${product.getName()}"/>
                  </a>
                  <span class="stext-105 cl3 m-r-1"><th:block th:text="${product.getPrice()}"/> MKD</span>
                </div>
              </div>
            </div>
          </div>
        </th:block>
      </th:block>

    </div>

    <!-- Load more -->
    <div class="flex-c-m flex-w w-full p-t-45 m-t-10">
      <a href="#" id="loadMore" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
        Load More
      </a>
    </div>
  </div>
</div>

